<% if user_signed_in? %>
    <% unless @post.comments.empty? %>
        <strong><%= t('common.comments')+' ('+@post.comments.count.to_s+')'%></strong>
        <% @post.comments.each do |comment| %>
            <% if comment.user.present? %>
                <p>
                  <strong><%= t('.author')%>:</strong>
                  <%= comment.user.email %>
                </p>
            <% end %>
            <p><%= comment.body %></p>
            <% if user_signed_in? && current_user.owner_of?(comment) %>
                <p>
                  <%= link_to t('common.delete'), comment, method: :delete, data: { confirm: t('common.confirm') } %> |
                  <%= link_to t('common.edit'), edit_comment_path(comment) %>
                </p>
            <% end %>
        <% end %>
        <strong><%= t('common.new_comment') %></strong>
    <% else %>
        <strong><%= t('.no_comments')+' '+t('.leave_first_comment') %></strong>
        <br>
    <% end %>

    <%= render 'comments/form' %>

<% else %>

    <% unless @post.comments.empty? %>
        <strong><%=t('common.comments')+' ('+@post.comments.count.to_s+')'%></strong>
        <% @post.comments.each do |comment| %>
            <% if comment.user.present? %>
                <p>
                  <strong><%= t('.author')%></strong>
                  <%= comment.user.email %>
                </p>
            <% end %>
            <p><%= comment.body %></p>
            <% if user_signed_in? && current_user.owner_of?(comment) %>
                <p>
                  <%= link_to t('common.delete'), comment, method: :delete, data: { confirm: t('common.confirm') } %> |
                  <%= link_to t('common.edit'), edit_comment_path(comment) %>
                </p>
            <% end %>
        <% end %>
    <% else%>
        <strong><%= t('.no_comments')%></strong>
        <br>
    <% end %>

<% end %>