
<h2> <%= @post.title %></h2>
<%= render @post.categories %>

<% if @post.user.present? %>
    <p>
      <strong>Автор: </strong>
      <%= @post.user.email %>
    </p>
<% end %>
<p>
  <%= @post.body %>
</p>

<%= render 'comments' %>

<%= render 'editlinks', post: @post %>

    <p><%= link_to 'К списку публикаций', posts_path %></p>
