
<h2> <%= @post.title %></h2>
<%= render @post.categories %>

<% if @post.user.present? %>
    <p>
      <strong>Автор: </strong>
      <%= @post.user.email %>
    </p>
<% end %>
<p>
  <%= @post.body %>
</p>

<% unless @post.comments.empty? %>
    <strong><%= 'Комментарии ('+@post.comments.count.to_s+')'%></strong>
    <% @post.comments.each do |comment| %>
        <% if comment.user.present? %>
            <p>
              <strong>Автор: </strong>
              <%= comment.user.email %>
            </p>
        <% end %>
        <p><%= comment.body %></p>
        <% if user_signed_in? && current_user.owner_of?(comment) %>
            <p>
              <%= link_to "Удалить", comment, method: :delete, data: { confirm: 'Вы уверены?' } %> |
              <%= link_to "Редактировать", edit_comment_path(comment) %>
            </p>
        <% end %>
    <% end %>
    <strong>Новый комментарий:</strong>
<% else %>
    <strong>Комментариев пока нет. Оставьте комментарий первым</strong>
    <br>
<% end %>

<%= render 'comments/form' %>

<% if user_signed_in? && current_user.owner_of?(@post) %> <!-- сравниваем поле user_id из @post, чтобы избежать загрузки объекта user для него --!>
    <%= link_to 'Редактировать', edit_post_path(@post) %> |
    <%= link_to "Удалить", @post, method: :delete, data: { confirm: 'Вы уверены?' } %>
<% end %>

    <p><%= link_to 'К списку публикаций', posts_path %></p>
