<h2> <%= @post.title %></h2>
<%= render @post.categories %>

<% if @post.user.present? %>
    <p>
      <strong><%= t('common.author') %></strong>
      <%= @post.user.email %>
    </p>
<% end %>
<p>
  <%= @post.body %>
</p>

<%= render 'comments' %>

<%= render 'editlinks', post: @post %>

